real-time-counting/venv
real-time-counting/__pycache__
real-time-counting/model/__pycache__/
real-time-counting/model/backbone/__pycache__/
real-time-counting/utils/__pycache__/
*.log
real-time-counting/csi_raw/*
venv/
